body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color: #161515;
}
*{
	font-weight: bold;
	color: white;
}
.navbar{
	color: white;
	position: sticky;
	top: 0;
	width: 100%;
	border-radius: 10px;
	background-color: #252526;
	box-shadow: 0px 0px 5px 5px #151516;
	text-align: left;
}
.navbar > .navbtn {
	background-color: #1C1B1C;
	display: inline-flex;
	width: 150px;
	justify-content: center;
	align-items: center;
	transition: 2s ease;
	border-radius: 15px;
	padding: 15px;
	margin-top: 5px;
}
.navbar > a > .logo {
	display: inline-flex;
	padding: 15px;
	margin-left: 5px;
	border-radius: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #1C1B1C;
}
.navbar > a {
	text-align: center;
	text-decoration: none;
}
.navbar > .navbtn:hover {
	width: 250px;
	cursor: pointer;
	background-color: #2C2B2C;
}
.navbar > .design {
	padding: 15px;
	margin: 0px;
	display: inline-block;
	margin-bottom: 5px;
	width: 30px;
	color: white;
	text-align: center;
	border-radius: 10px;
}
.navbar > .panel {
	background-color: rgba(15, 15, 15, 0.5);
	backdrop-filter: blur(8px);
	width: 100%;
	text-align: left;
	height: 100vh;
	display: block;
	position: absolute;
	border-radius: 0px;
	margin-top: 55px;
	display: block;
	transition: 2s ease;
	transform: translate(-2500px);
}
.navbar:has(.navbtn:hover) > .panel {
	transform: translate(4px);
	display: block;
	box-shadow: 0px 0px 50px 20px #212121;
}
.navbar > .design:nth-of-type(3){
	margin-left: 100px;
	background-color: #363636;
}
.navbar > .design:nth-of-type(4){
	background-color: #151516;
}
.navbar > .design:nth-of-type(5){
	background-color: #050506;
}
.navbar > .design:nth-of-type(6){
	background-color: #3A3A3A;
}
.navbar > .design:nth-of-type(7){
	background-color: #5A5A5A;
}
.navbar > .design:nth-of-type(8){
	background-color: #212121;
}
.navbar > .panel:hover {
	display: block;
	transform: translate(4px);
	box-shadow: 0px 0px 55px 20px #212121;
}
.navbar > .panel > a > div:hover {
	cursor: pointer;
	display: inline-flex;
	justify-content: left;
	align-items: left;
	background-color: #252526;
}
.navbar > .panel > a {
	text-align: left;
	display: flex;
	justify-content: left;
	text-decoration: none;
	align-items: left;
}
.navbar > .panel > a > div {
	padding: 25px;
	width: 100%;
	background-color: #1C1B1C;
	margin: 0 auto;
	transition: 0.5s ease;
}
.reponame {
	font-size: 85px;
}
.reponame > b {
	font-size: 72px;
	background: -webkit-linear-gradient(45deg, #fff, #151515);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.pkgbox {
	background-color: #ffffff;
	width: 70%;
	margin: 5px;
	height: 500px;
	border-radius: 15px;
}
.pkgbox > .pkg {
	color: #1C1B1C;
	text-decoration: none;
	margin: 25px;
	font-size: 50px;

}
.pkgbox > * {
	color: black;
	font-size: 15px;
	margin-left: 25px;
}
.pkgbox > p > b {
	color: #6a6a6a;
}
