body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color: black;
}
*{
	font-weight: bold;
	color: white;
}
.Container1{
    background: linear-gradient(45deg, black, #ECE6E9 );
    padding-top: 25px;
    padding-bottom: 25px;
}
.introduction{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.navbar{
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar > ul{
     display: flex;
     justify-content: center;
     align-items: center;
}
.navbar > ul > div {
     background: #161515;
     padding: 5px;
     border-radius: 10px;
}
.navbar > ul > div > li > a {
	text-align: center;
	text-decoration: none;
	color: #E0DADD;
	width: 250px;
	padding-bottom: 5px;
	transition: 2s ease;
	overflow: hidden;
}
.navbar > ul > div > li > a:hover{
	cursor: pointer;
	text-decoration: none;
}
.navbar > ul > div > li{
    list-style-type: none;
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
}
/*   	This is the section related to the long bar things	*/

/*	Start the container holding all the bars	*/
.Container2 {
    width: 75%;
    border-radius: 25px;
    display: flex;
    margin: 25px;
    height: 750px;
}
.Container2 > div {
	width: 25%;
}
.Container2 > div > h1{
	margin-left: 25px;
}
/* The arrow config starts here here -> */
.Container2 > div > div {
	width: 0px;
	height: 0px;
	margin-left: 25px;
	margin-top: 5px;
	transition: 2s ease;
	border-top: 15px solid transparent;
	border-left: 25px solid white;
	border-bottom: 15px solid transparent;
}
.Container2 > div > div:hover {
	transform: rotate(90deg);
	cursor: pointer;
}
.Container2 > div > h1,p {
	margin-left: 25px;
}
/* <- The arrow config ends here */
/*	End the container holding all the bars	*/

/*	This is the section related to each containers in the bar thing	*/
/*	Start individual bar section	*/
.Container2 > div:nth-child(1){
	background-color: #B8B3B5;
	width: 3%;
	transition: 2s ease;
	padding-right: 25px;
	overflow: hidden;
}
.Container2 > div:nth-child(2){
	background-color: #ABAAAB;
	transition: 2s ease;
	width: 5%;
	overflow: hidden;
}
.Container2 > div:nth-child(3){
	background-color: #9A9A9A;
}
.Container2 > div:nth-child(4){
	background-color: #8A8A8A;
}

/*	End individual bar section	*/

/*	Start bar 1 configuration	*/

.Container2 > div:nth-child(1) > h1 {
	transition: 2s ease;
	transform: translate(-130px);
}
.Container2 > div:nth-child(1) > p {
	transition: 2s ease;
	transition-delay: 0.5s;
	transform: translate(-330px);
}
.Container2 > div:nth-child(1):has(div:hover) {
	width: 25%;
}
.Container2 > div:nth-child(1):not(:has(div:hover)) {
	transition-delay: 0.5s;
}
.Container2 > div:nth-child(1):has(div:hover) > h1 {
	transform: translate(4px);
}
.Container2 > div:nth-child(1):has(div:hover) > p {
	transform: translate(4px);
}

/*	End bar 1 configuration		*/

/*	Start bar 2 configuration	*/
.Container2 > div:nth-child(2) > h1,ul {
	transition: 2s ease;
	transform: translate(-135px);
}
.Container2 > div:nth-child(2) > ul {
	transition: 2s ease;
	transition-delay: 0.5s;
}
.Container2 > div:nth-child(2):has(div:hover) {
	width: 25%;
}
.Container2 > div:nth-child(2):not(:has(div:hover)) {
	transition-delay: 0.5s;
}
.Container2 > div:nth-child(2):has(div:hover) > h1 {
	transform: translate(4px);
}
.Container2 > div:nth-child(2):has(div:hover) > ul {
	transform: translate(4px);
}
.Container2 > div:nth-child(2) > ul > li{
	list-style-type: none;
}
/*	End bar 2 configuration		*/

/*	Start bar 3 configuration	*/
/*	End bar 3 configuration		*/

/*	Start bar 4 configuration	*/
/*	End bar 4 configuration		*/

table{
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: linear-gradient(45deg, black, rgb(98, 0, 255));
}
th{
    background-color: rgb(98, 0, 255);
}
td, th{
    padding: 25px;
}
