body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-color: black;
}
.Container1{
    background: linear-gradient(45deg, rgba(0, 17, 255, 0), rgb(98, 0, 255));
    padding-top: 25px;
    padding-bottom: 25px;
}
.introduction{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Container2{
    margin-left: 25px;

}
.Container2 > p{
    font-size: 25px;
    color: white;
}
.navbar{
    color: white;
    float: center;
    overflow: hidden;
    background: radial-gradient(rgb(98, 0, 255), black); 
}
.navbar > ul{
     display: flex;
     justify-content: center;
     align-items: center;
}
.navbar > ul > li:first-child{
	padding-left: 250px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.navbar > ul > li:last-child{
	padding-right: 250px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
.navbar > ul > li > a{
	text-decoration: none;
	transition: 2s ease;
}
.navbar > ul > li > a:hover{
	color: #a16ceb;
	text-shadow: #a16ceb 0px 0px 5px;
	cursor: pointer;
}
.navbar > ul > li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
    background-color: rgb(98, 0, 255);
}
.Container2 > .button{
    background: linear-gradient(90deg,rgba(255, 0, 0, 0), rgb(111, 0, 255));
    padding: 15px;
    width: 7%;
    border-radius: 5px;
    animation: AnimationBackground infinite 2s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;
}
@keyframes AnimationBackground {
    0%{background-position: 0px 0px;}

    50%{background-position: 100px 0px;}

    100%{background-position: 0px 0px;}

}
.Container2 > .button > a{
    color: white;
    text-decoration: none;
}
@keyframes AnimationBackground2 {
    0%{background-position: 0px 0px;}

    50%{background-position: 100px 0px;}

    100%{background-position: 0px 0px;}

}
.Container2 > .button:hover{
    animation: AnimationBackground infinite 5s ease;
    padding: 50px;
}
table{
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background: linear-gradient(45deg, black, rgb(98, 0, 255));
}
th{
    background-color: rgb(98, 0, 255);
}
td, th{
    padding: 25px;
}
